[submodule "hushfile-web"]
	path = hushfile-web
	url = git@github.com:hushfile/hushfile-web.git
	branch = develop
[submodule "hushfile-server"]
	path = hushfile-server
	url = git@github.com:hushfile/hushfile-server.git
	branch = develop
[submodule "hushfile-py-server"]
	path = hushfile-py-server
	url = git@github.com:hushfile/hushfile-py-server.git
	branch = develop
